.inputT{
    display:flex;
    position: relative;
    min-width: 960px;
    margin-top:.5rem;
}

.search{
    position: absolute;
    margin-left: -2.5rem;
    margin-top:10px;
    color:brown;
}


.cartI{
    color:white;
    width: 2rem;
    height: 2rem;
    
    

}

.btnAcc{
    margin-top:.5rem;
}